.cache/
.idea/
.vs/
.vscode/
build/
cmake-debug-build/
gen/
release/
tmp/
xcode/

.DS_Store
compile_commands.json
tags

# Preprocessed files
ctemplate/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# exceptions
!libraylib.*
